

<div class="section" id="aboutSection">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify">From my young age, I was interested in doing creative things and drawing portraits. Working with computers and pencils to make creative stuffs was my hobby. I also had a great passion for computers and to work with them, which later routed me to Web designing and development.</p>
                            <p align="justify">I love taking effort to make precise and cleaner outputs, whatever works I do. This has always helped me to gain good results in my works, and to make good impressions.</p>
                            <p align="justify">To learn more about me and my passion, keep exploring my site or reach out directly.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">January 20, 1992</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">justint551@gmail.com</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">+447459459051</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">47 Pemberton walk, IP332PE</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">English, Malayalam</div>
                        </div>
                     </div>
                </div>
            </div>
               
                
        </div>
    </div>
</div>


    





 
    
