<div class="outercontainer">
  <div class="gallery-heading"id="gallerySection">
      <h1>Gallery</h1>
      
  </div>
  <div class="row galleryClass"id="container" >
      
    
      <div class="col-xs-3 item">
          <button [routerLink]="['/photography']" class="content photography">
              <h2>Photography contents</h2>
            </button>
        
        <div class="previews">
          <div class="preview-image">
            <img src="https://justinckt.github.io/juzpixels/assets/images/small/photography/photo-small-(1).jpg">
          </div>
          <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/photography/photo-small-(10).jpg">        
          </div>
          <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/photography/photo-small-(2).jpg">       
           </div>
          <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/photography/photo-small-(3).jpg">       
           </div>
          <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/photography/photo-small-(8).jpg">       
           </div>
        </div>
      </div>
  
      <div class="col-xs-3 item">
          <button [routerLink]="['/digital']" class="content digital">
            <h2>Digital Contents</h2>
          </button>
          
          <div class="previews">
            <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/digital/digital-small-(1).jpg">
            </div>
            <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/digital/digital-small-(2).jpg">
            </div>
            <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/digital/digital-small-(3).jpg">
            </div>
            <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/digital/digital-small-(6).jpg">
            </div>
            <div class="preview-image">
              <img src="https://justinckt.github.io/juzpixels/assets/images/small/digital/digital-small-(7).jpg">
            </div>
          </div>
        </div>
      
      <div class="col-xs-3 item">
          <button [routerLink]="['/pencil']" class="content pencil">
              <h2>Pencil Portraits</h2>
            </button>
        
            <div class="previews">
              <div class="preview-image">
                <img src="https://justinckt.github.io/juzpixels/assets/images/small/pencil/pencil-small-(5).jpg">
              </div>
              <div class="preview-image">
                <img src="https://justinckt.github.io/juzpixels/assets/images/small/pencil/pencil-small-(6).jpg">
              </div>
              <div class="preview-image">
                <img src="/assets/images/small/pencil/pencil-small-(7).jpg">
              </div>
              <div class="preview-image">
                <img src="https://justinckt.github.io/juzpixels/assets/images/small/pencil/pencil-small-(8).jpg">
              </div>
              <div class="preview-image">
                <img src="https://justinckt.github.io/juzpixels/assets/images/small/pencil/pencil-small-(9).jpg">
              </div>
            </div>
        </div>
      </div>
     </div>   
      
    
    
    
  
  
  
  
  
  
  
  
  
  