<div class="outercontainer" id="skillsSection">
    <h1>Skills</h1>
<div class="container">
    <div class="col">
      <h2 class="programs titulo">Programming</h2>
      <ul class="skill">
        <li><span class="redline html"></span><em>HTML</em></li>
        <li><span class="redline css"></span><em>CSS</em></li>
        <li><span class="redline javascript"></span><em>Javascript</em></li> 
        <li><span class="redline angular"></span><em>Angular</em></li>
      </ul>
    </div>
      
      <div class="col">
      <h2 class="softwares titulo">Softwares</h2>
      <ul class="skill">
        <li><span class="blueline autodesk"></span><em>Autodesk Maya</em></li>
        <li><span class="blueline aftereffects"></span><em>After Effects</em></li>
        <li><span class="blueline photoshop"></span><em>Photoshop</em></li>
        <li><span class="blueline max"></span><em>3ds Max</em></li>
      </ul>
    </div>
  </div>
  </div>