




.profile-section
  {
    
    margin-top: 60px;
    text-align: center;
    color: azure;
    background:linear-gradient(0deg, rgba(46, 46, 46, 0.1), rgba(46, 46, 46, 0.3)), url('https://justinckt.github.io/juzpixels/assets/images/introduction.jpg') no-repeat center center;
   background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
 
 
    .profile-image img {
      border-radius: 50%;
      height: 300px;
      width: 300px;
      margin-top: 120px;
      border: 5px solid #2e5482;
      transition: all .3s ease-out;
      box-shadow: 0 0 35px 10px black;
      transition: .5s all ease;
    }
    .intro-details
    {
      
        color: white;
        margin-top: 80px;
        
    }
    
    .intro-category
    {
        margin-top: 40px;
        
        color: white;
        font-size: 140%;
        
    }

    .profile-image img:hover {
        box-shadow: 0 0 25px 2px white;
        transform: rotate(0deg) scale(1.2);
        border: 5px solid white;
        transition: .5s all ease;
        z-index: 400;
      }
      a:any-link
      {
        text-decoration: none;
        color: white;
      }
     
      .btn-set
      {
          
          padding: 10px;
          width: 130px;
          border-radius: 6px;
          font-size: 90%;
          color: white;
          margin: 3px;
          margin-top: 40px;
          border: 1px solid white;
          background-color: #2e5482;
          transition: all .2s ease-in;
          font-family: Arial, Helvetica, sans-serif;
      }
      /* @media (max-width: 370px) {
        .btn-set {
          padding: 5px;
        }
      } */
      
      .btn-set:hover
      {
          transform: scale(1.06, 1.06);
          color: white;
          background-color: #00a8e8;
          font-family: Arial, Helvetica, sans-serif;
      }

.social-icons
{
  position: relative;
  display: inline-grid;
  margin-left: -30px;
  margin-top: 40px;
  
}

     ul li {
        list-style: none;
        float: left;
        margin: 10px;
        
      }
      
      ul li a {
        position: relative; 
        display: block;
        width: 60px;
        height: 60px;
        line-height: 53px;
        background: #333;
        border-radius: 50%;
        border: 4px solid #2e5482;
        font-size: 30px;
        color: #666;
        transition: .5s;
      }
      
      ul li a::before {
        content: '';
        position: relative;
        
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #55ACEE;
        transition: .5s;
        transform: scale(.9);
        z-index: -1;
      }
      
      ul li a:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px #55ACEE;
      }
      
  
      ul li .fb-icon a:hover{
        color: #3694ff;
        border: 4px solid #3694ff;
        box-shadow: 0 0 25px #3694ff;
        text-shadow: 0 50 65px #3694ff ;
      }
      ul li .ig-icon a:hover{
        color: #ff9f40;
        border: 4px solid #ff9f40;
        box-shadow: 0 0 25px #ff9f40;
        text-shadow: 0 50 65px #ff9f40 ;
      }

      
      

