<app-dummy></app-dummy>

<div class="container-image">
    
    <div id="gallery">
  
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(1).jpg">
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(2).jpg">
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(3).jpg">
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(4).jpg">
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(5).jpg">
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(6).jpg">
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(7).jpg">
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(8).jpg">
    <img src="https://justinckt.github.io/juzpixels/assets/images/large/digital/digital-large-(9).jpg">
   

    
   </div>
   
   </div>
